<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="testngRFB.xml">
		<classes>
			<class name="com.ebanking.masters.BranchNgDataProvider" />
			<class name="com.ebanking.masters.RoleNgDataProvider" />
			<class name="com.ebanking.masters.EmpNgDataProvider" />

		</classes>
	</test> <!-- testngRFB.xml -->
</suite> <!-- Suite -->
